.animation-div{
    width: 100px;
    height: 100px;
    margin: 20px auto ;
    background-color: red;
    animation-name: animacao;
    animation-duration: 1000ms;
}

@keyframes animacao {
    from {background-color: red;}
    to {background-color: yellow;}
}

.animation-div2 {
    width: 50px;
    height: 100px;
    margin: 20px 20px ;
    background-color: black;
    animation-name: animation2;
    animation-duration: 6s;
    animation-iteration-count:infinite;
}

@keyframes animation2 {
    0% {}
    30% {width: 100px;}
    60% {background-color: red;}
    80% {left: 100px; background-color: blue;}
    100% {height: 50px; left: 0px; background-color: black;}   
}

.animation-div3 {
    width: 100px;
    height: 100px;
    background-color: purple;
    position:relative;
    animation-name: animation3;
    animation-duration: 4s;
    animation-delay: 2s;
}
@keyframes animation3{
    from {left: 0;} /*se não colocar a definição inicial a transição ocorre de forma abrupta*/
    to {left: 200px; background-color: green;}
}

.div4 {
    width: 70px;
    height: 60px;
    margin: 20px;
    background-color: yellow;
    position:relative;
    animation-name: animacao4;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes animacao4 {
    from {left: 0;}
    to {left: 500px}
}

.animation-div4{
    animation-timing-function: linear;
}
.animation-div5{
    animation-timing-function: ease;
}
.animation-div6{
    animation-timing-function: ease-in;
}
.animation-div7{
    animation-timing-function: ease-out;
}
.animation-div8{
    animation-timing-function: ease-in-out;
}

/* Exemplo de shorthand*/
@keyframes animacao5{
    0% {left: 0px;}
    25% {left: 20px; background-color: blue;}
    60% {left: 100px; background-color: orange;}
    100% {right: 200px; background-color: red;}
}
/* Exemplo de shorthand*/
/* shorthand - nome, duração, timing-function, delay, iteration*/
#animation-div9 {
    background-color: darkblue;
    width: 100px;
    height: 50px;
    color: white;
    padding: auto auto;
    position:relative;
    animation: animacao5 8s ease-out 4s infinite;
}
.btn{
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 25px;
    width: 150px;
    height: 75px;
    color: #FFF;
    background-color: #333;
    text-transform: uppercase;
    border: 1px solid #333;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s;
}
.btn:hover {
    color: #333;
    background-color: white;
}
.transition{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 4s;
}
.transition:hover {
    width: 200px;
}
